<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h3 style="margin-left: 500px">Display Users:</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < dataTable.length; i++) { %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= dataTable[i].email %></td>
          <td><%= dataTable[i].firstName %></td>
          <td><%= dataTable[i].lastName %></td>
          <td><%= dataTable[i].address %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
